html, body {
	font-size:12px; 
	line-height:18px;
	height: 100%;
 }
body {background: #dadad8;}

.main-container {
	height:auto; 
	height: 100%;
	min-height: 100%;
}

@media (max-width: 767px) {
  body { padding-right: 0px; padding-left: 0px; }
  .container {margin-right: 20px; margin-left: 20px;}
 }

/***** Titles and Headings *****/
h1, h2, h3, h4 , h5, h6 {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-transform:uppercase; 
}	
h1, h2, h3, h4, h5 {text-shadow: 1px 1px 0 #fdfdfd, 1px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;}
h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg , h5.title-bg, h6.title-bg {
	background: #ffffff;
	padding:10px 5px;
	margin: 0px 0px 20px 0px;

}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:#7f7f7f;}
h2 small {font-size: 30px;}
h5 small {font-size: 14px;}
h6 small {font-size: 12px;}

h5.title-bg button {
	float: right; 
	text-transform: none;
	margin-left:5px;
}

/***** Links *****/
a, a:hover { color: #5f4842; }

/***** Misc *****/
i {margin-right: 3px;}
p {margin-bottom: 20px;}
blockquote {
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	border-left: 5px solid #999;
}
blockquote.pull-right {border-right: 5px solid #dadad8;}


/**************************************
/ Header
**************************************/
.logo { margin-top:30px; padding-bottom: 20px; background: url(../img/logo.png) no-repeat;}
.logo img { padding-right:20px; }
.logo h5 { display: inline-block; }
.headline { margin-bottom:30px; }
.company {margin-left: 10%;}
.navigation { margin-top:40px;}
.navigation .navbar { background:#dadad8;}
.company a, a:hover { color: #000000; text-decoration: none;}

.navbar .nav > li > a {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-shadow: none;
	text-transform:uppercase;
	font-size:16px;
	padding: 10px 6px 10px;
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.logo, .navigation {text-align: center;}
	.row.header {margin-bottom: 30px;}
	.logo h5 {display: block; float: right;}

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
	.headline .lead {display: none;}
	.navbar .nav > li > a { font-size:13px;}
	.company { font-size:20px;}
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.logo {width: 100%;}
	.navigation { width:100%;}
	.navbar .nav > li > a {padding: 10px 10px 10px; }
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color:#5f4842;
	box-shadow: 0px 0px 0px #dadad8 inset;
	background-color: #dadad8;
}

@media (min-width: 992px) {
	.slicknav_menu {
		display: none;
	}
}
@media (max-width: 991px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
}

/**************************************
/ Slider
**************************************/
#carousel img {opacity:0.7;}
#carousel img:hover{opacity: 1;}

/**************************************
/ Gallery
**************************************/
.gallery-title { margin-bottom:15px; }
.gallery-item { margin-bottom:15px; margin-top:15px; }
.gallery img:hover { filter: brightness(110%);}

.gallery-hover-6col,
.gallery-hover-4col,
.gallery-hover-3col,
.gallery-hover-4col-cir { 
	display:none; 
	background:url(../img/gallery-item-hover.png);
	position:absolute; 
	z-index: 10;
}
.gallery-hover-4col-cir{
	-webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/* Large Desktop Size */
@media (min-width: 1200px) {
	.gallery-hover-6col {width:170px; height:139px;}
	.gallery-hover-4col {width:270px; height:220px;}
	.gallery-hover-3col {width:370px; height:300px;}
	.gallery-hover-4col-cir {width:270px; height:270px;}
	.gallery-hover-4col-cir .gallery-icons {top: 45%; left:34%;}
}

/* Small Desktop Size */
@media (min-width: 980px) and (max-width: 1199px) {
	.gallery-hover-6col {width:140px; height:114px;}
	.gallery-hover-4col {width:220px; height:180px;}
	.gallery-hover-3col {width:300px; height:243px;}
	.gallery-hover-4col-cir {width:220px; height:220px;}
	.gallery-hover-4col-cir .gallery-icons {top: 42%; left:29%;}

	/* Clip descriptions */
	li.span4 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 280px;
	}
	li.span3 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 200px;
	}
	li.span2 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 120px;
	}
}

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {

	/* Clip descriptions */
	li.span2 .project-details {display:none;}
	li.span3 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 146px;
	}
	li.span4 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 208px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.project-details {width: 250px; text-align: center}
	.gallery-post-grid {text-align: center}
	.project-details {margin-left:auto; margin-right: auto;}
	.gallery {text-align: center; }
	.gallery-cats { display: none;}
	li.span2 .project-details {
	    -o-text-overflow: ellipsis;
	    text-overflow:    ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	    width: 150px;
		}
}
/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	li.span4 .project-details {width:350px;}
}
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	li.span4 .project-details {width:260px;}
}

.project-details {
	background:#f8f8f8;
	display: block;
	padding:10px;
	font-family: Georgia;
	font-style: italic;

	width: auto\9;
    height: auto;
    max-width: 100%;
}
.project-details a {
	margin: 0px; 
	font-size: 12px; 
	font-style: normal;
	text-shadow:none;
	display: block;
	font-family: "Oswald", sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.project-details {color: #6f6f6f;}
.project-details a {color: #333333;}
.project-details a:hover {color: #5f4842; text-decoration: none;}

.project-info {margin: 0px 0px 40px 0px;}
.project-info li { 
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;;
	padding: 10px; }
.project-info li h6 {display: inline; margin-right: 5px;}

.gallery-icons {
	z-index: 9;
	position:absolute;
	bottom: 0px; 
	right: 0px;
	width: 89px;
	height: 42px;
	display: block;
}

.gallery-post-grid {margin:0px;}
.gallery-post-grid li {list-style: none; float: left; margin-bottom: 30px;}

.gallery-cats {margin: 0px 0px 20px 0px;}
.gallery-cats li{
	color: #7F7F7F;
	list-style: none; 
	float: left; 
	padding: 0px 10px;
	border-left: 1px dashed #a9a9a9;
}
.gallery-cats li:first-child{border-left:0px;}
.gallery-cats a {color: #7F7F7F;}
.gallery-cats a:hover {color: #5f4842;}
.active {color: #5f4842;}

/**************************************
/ Footer
**************************************/
.footer-container {
	width:100%;
	background:#333;
	clear: both;
 	position: relative;
 	z-index: 10;
}
.footer-row { margin-top: 30px;}
.footer-col {color:#ababab; font-size: 11px;}
.footer-col a {color:#dcdcdc; font-weight: bold;}
.footer-col a:hover {color: #5f4842; text-decoration: none;}
.footer-col h5, .footer-col strong {color:#f9f9f9; text-shadow:none;}
.footer-col h5 {margin-bottom: 25px;}
.footer-col ul {margin: 0px;}
.footer-col ul li {list-style: none; padding-bottom: 20px;}
.footer-col ul.post-list li {
	border-bottom: 1px dashed #504f4f;
	padding: 10px 0px;
}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.footer-col {
		clear:both;
		overflow: auto;
		margin-bottom: 20px;
	}
	.footer-sub .right {display: none;}
}
ul.img-feed li {
	float: left; 
	margin: 0px 7px 7px 0px; 
	padding-bottom: 0px;
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	ul.img-feed li:nth-last-child(-n+4) {display: none;}
}

/**** Social Icons ****/
.social-icons {padding-top: 10px;}
.social-icons li {
	list-style: none; 
	float: left;
	margin-right: 6px;
}

/**** Sub Footer ****/
.footer-sub {background: #1f1f1f; padding: 10px 0px;}
.footer-sub div div span {padding: 0px 20px;}


/**************************************
/ MISC
**************************************/
.row {margin-bottom:30px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

@media only screen and  (max-width: 767px) {
	.btn {margin-bottom: 20px;}
}

.left {float: left;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background: #5f4842; }
.color { color: #5f4842; }
.color-bar-1, .color-bar-2 { width:100% }
.color-bar-1 { background:#414141; height:5px; }
.color-bar-2 { height:3px; }
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }


/* Mobile Portrait Size to Tablet Portrait Size */
@media only screen and  (max-width: 767px) {
	.the-icons li {float: none; width: 100%; line-height: 25px;}	
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #5f4842;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5f4842;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5f4842;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5f4842;
}